@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Burası Admin Area Hoşgeldiniz</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-area="" asp-controller="Home" asp-action="Index">Blog Area'ya geçmek için lütfen tıklayın</a>
</div>
